
/* Navbar toggler */

.navbar-toggler{
  padding:0 !important;
  margin:0 !important;
  border:0 !important;
  background:transparent !important;
  
}
.navbar-toggler:focus{outline: none; box-shadow:none}
.navbar-toggler svg{display:block; width:31px; height:26px}
.menu-label{font-weight:600}


/* Thinner ring for the navbar toggler */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible{
  outline: none !important;
  box-shadow: 0 0 0 0.12rem rgba(15, 7, 13, 0.2) !important;
  border-width: 1px !important;
}



.navbar.bg-body-tertiary{
  background-color: transparent !important;
  backdrop-filter: none;
  width: 100%;
  height: 81px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: rgba(147, 145, 145, 0);
  backdrop-filter: blur(0px);
  transition: background-color 320ms ease, backdrop-filter 320ms ease;
}

/* solid navbar state after scrolling past the hero */
.navbar.scrolled{
  background-color: rgb(0, 0, 0) !important; 
  backdrop-filter: blur(0px);
}
